h1 {
  color:rgb(63, 81, 181);
  font-weight: bold;
}
.buttons-right>button {
  float: right;
  margin: 5px;
}
.app-container {
  padding: 25px;
}

.percentage-number {
  color: rgb(63, 81, 181);
  font-size: 50px;
  font-weight: bold;
}
.percentage-sign {
  color: rgb(63, 81, 181);
  font-size: 40px;
}
.percentage-container {
  text-align: center;
}
.percentage-container:first-child {
  padding-bottom: 3em;
}